@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;

}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    height: 383px;
    width: 190px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-image: url(../imagens2/frame-iphone3.png);
    background-repeat: no-repeat;
    padding-left: 
    
    
    
}   

iframe#tela{
    position: relative;
    top: 48px;
    left: 12px;
    width: 166px;
    height: 292px;
    
}
section#icones{
    padding: 90px 3px;
    
}

section#icones img{
    width: 60px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
    
    box-sizing: border-box;
}

section#icones img:hover{
    border: 2px solid rgba(255, 255, 255, 0.411);
    transform: translate(3px, -3px);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.555);
    transition: transform 0.3s;
}
    