@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    padding: 0px;
    
}



img{
    width: 100%;
    
    
}

a{
    display: block;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    
    padding: 15px;
    margin-top: -5px;
    transform: translatey(-1px);
    
   

}
a:hover{
    background-color:rgba(255, 0, 0, 0.329);
    transition-duration: .5s;
}